<p class="playerBox-name">
  {{ player.name }}
</p>

<p class="playerBox-points">
  {{#if player.joined}}
    {{#if game.hasStarted}}
      {{#if player.active}}
        <span>{{ player.points }}</span> points
      {{else}}
        <span class="waiting">{{ player.points }}</span> points
      {{/if}}
    {{else}}
      <span>{{ player.points }}</span> points
    {{/if}}
  {{/if}}
</p>

<div class="playerBox-instruction">
  {{#if player.joined}}
    {{#unless game.hasStarted}}
      <p>Please wait for other players to join.</p>
    {{else if player.active}}
      <p>Tap the correct button to select an answer.</p>
    {{else}}
      <p>Wait.</p>
    {{/unless}}
  {{else}}
    {{#if game.hasStarted}}
      <p>Please wait for the other player to finish this round.</p>
    {{else if game.hasPlayers}}
      <p>Tap any button to join the game.</p>
    {{else}}
      <p>Tap any button to start a new game!</p>
    {{/if}}
  {{/if}}
</div>
