<p class="playerBox-name">
  {{ player.name }}
</p>

<p class="playerBox-points">
  {{#if player.joined}}
    {{#if game.hasStarted}}
      {{#if player.active}}
        <span>{{ player.points }}</span> points
      {{else}}
        <span class="waiting">{{ player.points }}</span> points
      {{/if}}
    {{else}}
      <span>{{ player.points }}</span> points
    {{/if}}
  {{/if}}
</p>

<div class="playerBox-instruction">
  {{#if player.joined}}
    {{#unless game.hasStarted}}
      <p>Bitte warte auf andere Mitspieler.</p>
    {{else if player.active}}
      <p>Drücke den passenden Buzzer zur richtigen Antwort.</p>
    {{else}}
      <p>Bitte warten.</p>
    {{/unless}}
  {{else}}
    {{#if game.hasStarted}}
      <p>Bitte warte auf deinen Mitspieler.</p>
    {{else if game.hasPlayers}}
      <p>Drücke einen der Buzzer, um mitzuspielen.</p>
    {{else}}
      <p>Drücke einen der Buzzer, um ein neues Spiel zu beginnen!</p>
    {{/if}}
  {{/if}}
</div>
