<p class="playerBox-name">
  {{ player.name }}
</p>

<p class="playerBox-points">
  {{#if player.joined}}
    {{#if game.hasStarted}}
      {{#if player.active}}
        <span>{{ player.points }}</span> points
      {{else}}
        <span class="waiting">{{ player.points }}</span> points
      {{/if}}
    {{else}}
      <span>{{ player.points }}</span> points
    {{/if}}
  {{/if}}
</p>

<div class="playerBox-instruction">
  <p>{{ instructionText }}</p>
</div>
