<div class="quizQuestion-header">
  <h4 class="quizQuestion-counter">Frage {{ question.relativeId }} / {{ question.quiz.questions.length }}</h4>
  <div class="quizQuestion-text">{{ question.title }}</div>
</div>

<div class="quizQuestion-answers">
  {{#each answers as |answer index|}}
    <div class="quizQuestion-answer">
      {{#if selectable}}
        {{#player-button-choice index=index onselect=(action 'selectAnswer' answer.model)}}
          {{ answer.model.title }}
        {{/player-button-choice}}
      {{else}}
        <div class="quizQuestion-answer-solution {{if answer.model.correct 'correct'}}">
          {{ answer.model.title }}
        </div>
        {{#each answer.selectedBy as |player|}}
          <div class="quizQuestion-answer-marker player{{player}}"></div>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
</div>

{{#if selectable}}
  {{countdown-timer time=question.timer whenTimeUp=(action 'timeUp')}}
{{else}}
  {{countdown-timer time=5 whenTimeUp=done}}
{{/if}}
