<div class="quizQuestion-header">
  <h4>Question {{ question.relativeId }} / {{ question.quiz.questions.length }}</h4>
  <div class="quizQuestion-text">{{ question.title }}</div>
</div>

<div class="quizQuestion-answers">
  {{#each question.answers as |answer index|}}
    <div class="quizQuestion-answer">
      {{#if selectable}}
        {{#player-button-choice index=index onselect=(action 'selectAnswer' answer)}}
          {{ answer.title }}
        {{/player-button-choice}}
      {{else}}
        {{ answer.title }}
        {{#if answer.correct}}
          CORRECT
        {{/if}}
      {{/if}}
    </div>
  {{/each}}
</div>

{{#if selectable}}
  {{progress-bar time=100 whenTimeUp=(action 'timeUp')}}
{{else}}
  {{progress-bar time=5 whenTimeUp=done}}
{{/if}}
