<div class="row">
  {{#each answers as |answer|}}
    <div class="col-md-12 answer">
      {{#if results}}
        show results!!!
      {{else}}
        <div class="questionAnswer questionAnswer-color-{{ answer.color }}">
          {{#if question.submitted}}
            {{#if answer.selected}}
              <button class="button selectedButton"> {{answer.text}} </button> <br>
            {{else}}
              <button class="button"> {{answer.text}} </button> <br>
            {{/if}}
          {{else}}
            <button class="button"> {{answer.text}} </button> <br>
          {{/if}}
        </div>

        {{#each-in answer.userKeys as |user key|}}
          {{on-keypress key=key handler=(action 'selectAnswer' answer.model user)}}
        {{/each-in}}
      {{/if}}
    </div>
  {{/each}}
</div>
