<div>
	<h2> Question {{model.id}} / {{model.quiz.questions.length}} </h2>
  <div class="questionText">{{model.title}}</div>
	<div class="row progress-bar-wrapper"></div>
  {{#if model.answers.length}}
  	{{show-answers-selected question=model}}
  {{/if}}
</div>

{{outlet}}
