
<h3> Quiz: {{model.title}} </h3>

{{#unless currentUser.is_tv}}
	{{#if userReady}}
		<button {{action 'start'}} class="button"> start</button>
	{{else}}
		{{#link-to 'quizzes'}} <button class="button"> Back to all quizzes </button> {{/link-to}}
		<button {{action 'ready'}} class="button selectedButton"> ready</button>
	{{/if}}
{{else}}
	<h4> Waiting for other participants to join ... </h4>
	<div>
  	{{qr-code quiz=quiz}}
  </div>
{{/unless}}
{{outlet}}
