
<h3> Quiz: {{model.title}} </h3>

{{#unless currentUser.is_tv}}
	{{#if userReady}}
		<button {{action 'start'}} class="answerButton"> start</button>
	{{else}}
		<button {{action 'ready'}} class="answerButton"> ready</button>
	{{/if}}
{{else}}
	<h4> Waiting for other participants to join ... </h4>
	<div>
  	{{qr-code quiz=quiz}}
  </div>
{{/unless}}
{{outlet}}
