
<h3> Quiz: {{model.title}} </h3>

{{#unless currentUser.is_tv}}
	{{#if userReady}}
		{{#if model.ready}}
			<button {{action 'start'}} class="button"> start</button>
		{{else}}
			<div class="questionText"> Waiting for more participants (at least two) to join ... </div>
			<button {{action 'quit'}} class="button"> quit </button>
		{{/if}}
	{{else}}
		{{#link-to 'quizzes'}} <button class="button"> Back to all quizzes </button> {{/link-to}}
		<button {{action 'ready'}} class="button"> ready</button>
	{{/if}}
{{else}}
	<h4> Waiting for other participants (at least two) to join ... </h4>
	<div>
  	{{qr-code quiz=quiz}}
  </div>
{{/unless}}
{{outlet}}
