<div class="row">
  <div>
    <h3> Quiz completed - the winner is {{winner_name}}. Congratulations! </h3>
  </div>
</div>

{{#unless currentUser.is_tv}}
<div class="row">
  <div class="col-md-6">
		<button {{action 'restart'}} class="button"> Restart </button>
	</div>	
	<div class="col-md-6">	
		{{#link-to 'quizzes'}} <button class="button"> Show all quizzes </button> {{/link-to}}
	</div>
</div>
{{else}}
	<h3> Do you want to start a new quiz? </h3>
	{{render 'quizzes'}}
{{/unless}}

<div class="row">
	<div class="hidden-xs hidden-sm">
		{{quiz-leaderboard content=participants title='Leaderboard'}}
	</div>
</div>

{{outlet}}
