<div class="quizStats">
  <div class="quizStats-header">Congratulations!</div>

  {{#if game.hasWinner}}
    <div class="quizStats-winner">{{ game.winner.name }} wins!</div>
  {{else}}
    <div class="quizStats-winner">Maybe try another quiz to find out who is smarter.</div>
  {{/if}}

  <div class="quizStats-hint">
    Tap any button to select another quiz.
  </div>
</div>

{{player-button-any players=players onselect=(action 'backToIndex')}}

{{after-x-seconds seconds=30 action=(action 'backToIndex')}}

<div class="row">
  <div class="hidden-xs hidden-sm">
    {{quiz-leaderboard content=participants title='Leaderboard'}}
  </div>
</div>
