<div class="quizStats">
  <div class="quizStats-winner">
    {{#if game.hasWinner}}
      <div style="display:none">{{ game.winner.name }} wins!</div>
    {{else}}
      It's a tie!
    {{/if}}
  </div>

  <div class="quizStats-motivation">
    {{#if game.hasWinner}}
      Do you want to try another quiz?
    {{else}}
      Maybe try another quiz to find out who is smarter.
    {{/if}}
  </div>

  <div class="quizStats-hint">
    Tap any button to select another quiz.
  </div>
</div>

{{player-button-any players=players onselect=(action 'backToIndex')}}

{{after-x-seconds seconds=30 action=(action 'backToIndex')}}
