<div class="quizStats">
  {{!log 'Gameresult:' game}}
  <div class="quizStats-winner">
    {{#if game.hasWinner}}
      {{ game.winner.name }} hat gewonnen!
    {{else}}
      Unentschieden!
    {{/if}}
  </div>

  <div class="quizStats-motivation">
    <div>Wollt ihr mehr zu dem Thema erfahren?
      <br>Hier gibt es mehr Informationen:</div>
    <img class="QRCode" src={{QRPath}}>


  </div>

  <div class="quizStats-statistics">
    {{#each game.joinedPlayers as |player|}}
      <p>{{ player.name }} hat <strong>{{ player.correctAnswers }} Fragen</strong> korrekt beantwortet.</p>
    {{/each}}
  </div>

  <div class="quizStats-hint">
    Drückt den gelben Buzzer, um ein neues Spiel zu beginnen.
  </div>
</div>

{{player-button-any players=players onselect=(action 'backToIndex')}}

{{after-x-seconds seconds=30 action=(action 'backToIndex')}}
