{{#if currentUser}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          {{#unless currentUser.is_tv}}
          Hey {{currentUser.name}}! 
          <button {{action 'logout'}} class="button logoutButton"> Logout </button>
          {{else}}
            <div id="title">Welcome to the openHPI QuizBattle</div>
          {{/unless}}
          {{outlet}}
      </div>
    </div>
  </div>
{{else}}
  {{render 'login'}}
{{/if}}
