<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{#if currentUser}}
        Hey {{currentUser.name}}! 
        <button {{action 'logout'}} class="logoutButton"> Logout </button>
        {{outlet}}
      {{else}}
        {{render 'login'}}
      {{/if}}
    </div>
  </div>
</div>
