<div class="row">
{{#each quiz in model}}
    <div class="col-md-6">
      {{#link-to 'quiz.index' quiz.id}} <h3>{{quiz.title}}</h3>{{/link-to}}
      <div class="desc">
        {{quiz.description}}
      </div>
      <h4>
        Participants: {{quiz.participants.length}}
      </h4>
      <div class="row">
        <div class="col-xs-5 col-sm-2 col-md-5">
          {{qr-code quiz=quiz}}
        </div>
        <div class="col-xs-5 col-sm-2 col-md-5">
          {{#link-to 'quiz.index' quiz.id}}
            <button class="button"> JOIN </button>
          {{/link-to}} 
        </div>
      </div>
    </div>
{{/each}}
</div>

{{outlet}}
